apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  labels:
    app: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      imagePullSecrets: 				#使用imagePullSecrets参数指定镜像拉取秘钥
        - name: harbor-registry		#使用我们的secret，即harbor-registry
      containers:
        - name: demo
          image: 192.168.87.129/demo/demo:0.0.1
          ports:
            - containerPort: 8080   #修改成你项目的端口
          imagePullPolicy: Always #镜像拉取策略：每次都拉去最新的镜像

---
apiVersion: v1
kind: Service
metadata:
  name: demo
  labels:
    app: demo
spec:
  ports:
    - name: http
      port: 8080			#修改成你项目的端口
      nodePort: 30001      #容器暴露的访问端口，要确定无冲突，否则需修改
  type: NodePort
  selector:
    app: demo
